# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Clerk Auth
# pk_test, and sk_test are development keys
# For production, use pk_live, and sk_live keys (a domain is required)
# Documentation can be found here: https://clerk.com/docs/upgrade-guides/api-keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_"
CLERK_SECRET_KEY="sk_test_"

# Clerk Middleware routing
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Youtube API
# Documentation for setting up Google API Console and Youtube API: https://developers.google.com/youtube/v3/getting-started
YOUTUBE_API=

# OpenAI API
# Documentation for setting up OpenAI API Key: https://platform.openai.com/docs/guides/production-best-practices/api-keys
OPENAI_API_KEY=

# Turso DB Credentials
# Documentation for setting up Turso DB: https://docs.turso.tech/introduction
DATABASE_URL=
DATABASE_AUTH_TOKEN=

