@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 220 15% 15%;
    --card: 0 0% 100%;
    --card-foreground: 220 15% 15%;
    --popover: 0 0% 98%;
    --popover-foreground: 220 15% 15%;
    --primary: 212 100% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 16% 88%;
    --secondary-foreground: 220 15% 15%;
    --muted: 220 10% 94%;
    --muted-foreground: 220 10% 44%;
    --accent: 210 100% 80%;
    --accent-foreground: 220 15% 15%;
    --destructive: 348 100% 58%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 10% 86%;
    --input: 220 10% 98%;
    --ring: 212 100% 45%;
    --radius: 0.75rem;
    --chart-1: 209 100% 60%;
    --chart-2: 171 63% 45%;
    --chart-3: 57 75% 55%;
    --chart-4: 344 76% 72%;
    --chart-5: 33 87% 65%;
  }

  [data-theme="dark"] {
    --background: 220 15% 18%;
    --foreground: 0 0% 98%;
    --card: 220 15% 24%;
    --card-foreground: 0 0% 98%;
    --popover: 220 15% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 212 100% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 16% 88%;
    --secondary-foreground: 220 15% 15%;
    --muted: 220 10% 44%;
    --muted-foreground: 220 10% 94%;
    --accent: 210 100% 80%;
    --accent-foreground: 0 0% 100%;
    --destructive: 348 100% 58%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 50%;
    --input: 220 10% 44%;
    --ring: 212 100% 45%;
    --radius: 0.75rem;
    --chart-1: 209 100% 60%;
    --chart-2: 171 63% 45%;
    --chart-3: 57 75% 55%;
    --chart-4: 344 76% 72%;
    --chart-5: 33 87% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    /* Fallback */
    min-height: 100dvh;
  }

  .h-screen {
    height: 100vh;
    /* Fallback */
    height: 100dvh;
  }
}
